body {
  margin: 0 auto;
  font-family: "Noto Sans Mono"; 
  line-height: 1.5;
  padding: 4em 1em;
  color: #555;
}
h2 {
  margin-top: 1em;
  padding-top: 1em;
}
strong {
  color: #333;
}
code,
pre {
  background: #eee;
}

code {
  padding: 2px 4px;
  vertical-align: text-bottom;
}

.project-icons-container {
    text-align: center;
    background: #5937de;
    max-width: 100em;
    padding: 1em 1em;
    margin: 1em auto;
    border-radius: 1em;
    overflow: hidden;
    align: center;
}
.project-icons-container p {
    color: #fff;
}
.project-icons-container .icon {
    margin-left: 3em;
    margin-right: 2em;
    margin-top: 1em;
    background: #ba34eb;
    border-radius: 1em;
    padding: 0.1em 0.1em;
}
.project-icons-container img {
    max-width: 100%;
    max-height: 100%; 
    position: relative;
}
.project-icons-container video {
    max-width: 100%;
    max-height: 100%; 
    position: relative;
}
.project-icons-container .veccy_icon {
    aligh: right;
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 1em;
    background: #eb3471;
    border-radius: 1em;
    padding: 0.1em 0.1em;
}
.portfolio-body {
    background: #5937de;
    max-width: 100em;
    padding: 1em 1em;
    margin: 1em auto;
    border-radius: 1em;
    align: center;
}
.portfolio-body p {
    color: #fff;
}
.portfolio-body b {
    color: #fff;
}

pre {
  padding: 1em;
}
.intro-description img {
    border-radius: 1em;
    margin: 0em 0.1em;
}
.project-icons-container a {
  color: #fff;
}
body {
  color: #566b78;
}

code,
pre {
  background: #f5f7f9;
  border-bottom: 1px solid #d8dee9;
  color: #a7adba;
}

pre {
  border-left: 2px solid #69c;
}
.dark-mode {
            background-color: black;
            color: white;
        }
.light-mode {
    background-color: white;
    color: black;
}
h1 {
        color: black;
    }
           
    /* toggle in label designing */
    .toggle {
        position : relative ;
        display : inline-block;
        width : 100px;
        height : 52px;
        background-color: white;
        border-radius: 30px;
        border: 2px solid gray;
        left: 2.5em;
	background: url("./docs/assets/images/itch_icon.png");
    }
           
    /* After slide changes */
    .toggle:after {
        content: '';
        position: absolute;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: gray;
        top: 1px; 
        left: 1px;
        transition:  all 0.5s;
	background: url("./docs/assets/images/light_mode_icon.png");

    }
           
    /* Toggle text */
           
    /* Checkbox checked effect */
    .checkbox:checked + .toggle::after {
        left : 49px; 
    }
           
    /* Checkbox checked toggle label bg color */
    .checkbox:checked + .toggle {
        background-color: #130040;
    }
           
    /* Checkbox vanished */
    .checkbox { 
        display : none;
    }
